#searchandcity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#searchButton {
    margin: 10px;
}

#head {
    text-align: center;
    margin: 10px;
}

#currentWeather {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#forecast {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}